.git
.next
node_modules
backups
public/uploads
public/labels
prisma/*.db
*.db
*.db-journal
.env
.env.*
!.env.example
!.env.production.example
tsconfig.tsbuildinfo
npm-debug.log
Dockerfile
docker-compose.yml
.DS_Store
coverage
